* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
/* Other styles */

body {
	font-family: sans-serif;
	background-color: #efefef;
	color: #333;
	font-size: 100%;
	border-top: solid 5px #3597d3;
	padding: 2rem;
	display: flex;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

a {
	color: #3597d3;
}

p {
	margin-bottom: 1rem;
}

ul {
	margin: 0 0 1rem 2rem;
}

.profile-link {
	text-decoration: none;
}

code {
	display: block;
	background-color: #333;
	color: #eee;
	margin-bottom: 1rem;
	padding: 1rem;
}

.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header img {
	max-width: 50px;
	margin-bottom: 1rem;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: calc(50px + 2rem);
}

.text {
	max-width: 40rem;
}

.search {
	height: 1rem;
	margin-bottom: .5rem;
}

.search form {
	display: flex;
}

.search form input[type="text"] {
	border: none;
	height: 1rem;
	background-color: #efefef;
	flex: 1;
}

.search form input[type="submit"] {
	border: none;
	background-color: transparent;
}

.night-mode-toggle {
	max-width: 16px;
}

/* Log list */

.logs, .results {
	list-style: none;
	margin-left: 0;
	max-width: 40rem;
}

.log-item {
	padding: 1rem;
	background-color: #fff;
	margin-bottom: 1rem;
	color: rgba(60,67,80,.8);
}

.log-header {
	display: flex;
	margin-bottom: .5rem;
}

.log-title {
	font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000;
    flex: 1;
}

.log-details {
	font-size: .875rem;
	margin-bottom: 0;
}

.log-timestamp {
	font-weight: 400;
    font-size: .65rem;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
	margin-left: .5rem;
}

/* Nightmode */

.is-nightmode {
  background-color: #263137;
  color: #ccd1d7;
}

.is-nightmode code {
	display: block;
	background-color: #ccd1d7;
	color: #333;
	margin-bottom: 1rem;
	padding: 1rem;
}

.is-nightmode .log-item {
	background-color: #1e272b;
	color: #bdc3ce;
}

.is-nightmode .log-title {
	color: #fff;
}

.is-nightmode .search form input[type="text"] {
	background-color: #263137;
	color: #ccd1d7;
}

.is-nightmode .search form input[type="text"]::placeholder {
	color: #ccd1d7;
}


/* Mobile */

@media screen and (max-width: 30em) {
	body {
		flex-direction: column;
		padding: 1.5rem;
	}
	header {
		position: relative;
		margin-bottom: 1.5rem;
		flex-direction: row;
	}
	header img {
		margin-bottom: 0;
		margin-right: 1rem;
	}
	main {
		margin-left: 0;
		flex-direction: column;
	}
}