<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40503600-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-40503600-7');
  </script>
  <meta charset="utf-8">
  <title>RuneLogs - Keep track of your Runescape account history</title>
  <meta name="description" content="Runelogs is a simple archive site for your Runescape account activity.">
  <meta name="author" content="@dreadnip">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon2.png">
</head>
<body>
	<header class="header">
		<a href="/"><img src="/img/icon.png" /></a>
    <a class="night-mode-toggle" href="" title="Night Mode"><i class="fas fa-toggle-off day"></i></a>
	</header>