<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40503600-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-40503600-7');
  </script>
  <meta charset="utf-8">
  <title>RuneLogs - Keep track of your Runescape account history</title>
  <meta name="description" content="Runelogs is a simple archive site for your Runescape account activity.">
  <meta name="author" content="@dreadnip">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon2.png">
</head>
<body>
	<header class="header">
		<a href="/"><img src="/img/icon.png" alt="The Runelogs logo"/></a>
    <a class="night-mode-toggle" href="" title="Toggle between night and day mode"></a>
	</header>