<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RuneLogs</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/img/favicon2.png">
</head>
<body>
	<header>
		<a href="/"><img src="/img/icon.png" /></a>
	</header>