{% include '/common/header.twig' %}
    <main>
        <section class='text'>
        	<p>Runelogs is a small side-project that I built to keep a history of the progress on my new ironman. It's basically the same thing as the <a target="_blank" href="https://www.reddit.com/r/runescape/comments/7938vq/an_updated_how_to_to_create_a_subreddit_to_keep/">personal subreddit</a> method, but on a seperate domain.</p>
        	<p>You can use this site to keep track of drops, achievements, quests, levels, milestones, pets and other account related data that pops up on the adventure log. If you have any feature requests, pm <i>Isobho</i> in-game.</p>
            <p>Runemetrics has to be set to public for this site to work for you.</p>
            <p>We bundle boss kills and apply a <a href="/filter">basic filter</a> to reduce the amount of logs we have to store.</p>
            <p>We update every 15 minutes.</p>
            <p>You can find our source code <a href="https://github.com/dreadnip/runelogs">here</a>. If you see anything you can improve, please do and make a PR.</p>
            <p>We're currently saving {{ stats.log_count }} logs for {{ stats.user_count }} players.</p>
        </section>
    </main>
{% include '/common/footer.twig' %}
