{% include '/common/header.twig' %}
    <main>
        <section class='text'>
        	<p>Runelogs is a small side-project that I built to keep a history of the progress I make on my new ironman. People have been using <a target="_blank" rel="noreferrer" href="https://www.reddit.com/r/runescape/comments/7938vq/an_updated_how_to_to_create_a_subreddit_to_keep/">personal subreddits</a> to do this for a while now. This website attempts to be a simpler and cleaner solution to that problem.</p>
        	<p>You can use this site to keep track of your own logs, but also of any other player whose Runemetrics is set to public.</p>
            <p>We will permanently keep all of your drops, achievements, quests, levels, milestones, pets and other account related data that pops up on the adventure log. If you have any feature requests, pm <i>Isobho</i> in-game.</p>
            <p>Runemetrics has to be set to public for this site to work for you.</p>
            <p>We bundle boss kills and apply a <a href="/filter">basic filter</a> to reduce the amount of logs we have to store.</p>
            <p>We update every 15 minutes.</p>
            <p>You can check out <a href="https://github.com/dreadnip/runelogs">our source code</a> right here. If you see anything you can improve, please do and make a PR.</p>
            <p>We're currently saving {{ stats.log_count }} logs for {{ stats.user_count }} players.</p>
        </section>
    </main>
{% include '/common/footer.twig' %}
