{% include '/common/header.twig' %}
    <main>
        <section class='text'>
        	<p>The account activities we get from Jagex contain a lot of bullshit, so we filter out a lot of them and only store the ones we think are worth saving.</p>
        	<p>Here's a list of all our filter keywords. As soon as a log contains one of these it gets removed from your history.</p>
        	<ul>
        		<li>triskelion</li>
        		<li>effigy</li>
        		<li>battle</li>
        		<li>whip</li>
        		<li>dark</li>
        		<li>Forcae</li>
        		<li>dragon</li>
        		<li>(treasure) trail</li>
        	</ul>
        	<p>If you'd like to add a filter or remove one of the existing, contact us and we'll take a look.</p>
        </section>
    </main>
{% include '/common/footer.twig' %}
