{% include '/common/header.twig' %}
    <main>
        <section class='text'>
            <p><b>Runelogs</b> is an archive site that helps you keep a history of your Runescape account activity.</p>
            <p>To see your logs, visit your personal page by entering your player name in the URL after a forward slash, like so:</p>
            <code>https://runelo.gs/zezima</code>
            <p>If your player name contains spaces, use a + to replace them in the URL</p>
            <code>https://runelo.gs/mod+timbo</code>
            <p>More information can be found on our <a href="/about">about</a> page.</p>
        </section>
    </main>
{% include '/common/footer.twig' %}