{% include '/common/header.twig' %}
    <main>
        <section class='text'>
            <p><b>Runelogs</b> is an simple archive site for your Runescape account activity.</p>
            <p>To start tracking your achievements, visit your personal page by entering your player name in the URL after a forward slash, like so:</p>
            <a class="profile-link" href="https://runelo.gs/{{ rsn }}"><code>https://runelo.gs/{{ rsn }}</code></a>
            <p>If your name contains spaces, use a + sign to replace them.</p>
            <p>More information can be found on our <a href="/about">about</a> page.</p>
        </section>
    </main>
{% include '/common/footer.twig' %}